:root {
  /* colors */
  --darkblue: #202333;
  --lightblue: #323450;
  --blue: #4193e3;
  --green: #56a326;
  --gray: #bbbdcf;
  --yellow: #f2b536;

  /* spaces */
  --space-small: 0.5em;
  --space-normal: 1em;
  --space-medium: 1.5em;
  --space-big: 2em;
  /* spaces */

  /* fonts */
  --font-small: 0.8em;
  --font-normal: 1em;
  --font-medium: 1.2em;
  --font-big: 1.5em;
  --font-large: 2em;
  /* fonts */

  /* sizes */
  --header-height: 4.5em;
  --banner-size: calc(100vh - var(--header-height));
  /* sizes */

  /* z-index */
  --header-z: 1000;
  /* z-index */
}

a,
input {
  outline: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--darkblue);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* helpers */
.container {
  margin-top: var(--header-height);
}

.title {
  color: white;
  margin: var(--space-big) 0;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  display: inline-block;
}

.price {
  color: var(--yellow);
  font-size: var(--font-medium);
  display: flex;
  align-items: center;
}

.price::after {
  content: '-50%';
  color: white;
  font-size: 0.5em;
  background-color: var(--blue);
  padding: var(--space-small);
  margin-left: var(--space-small);
}

.btn {
  border: none;
  color: white;
  font-size: var(--font-normal);
  padding: var(--space-small) var(--space-normal);
  border-radius: 10em;
}

.btn-social {
  border-radius: 10em;
  font-weight: bold;
}

.btn-normal {
  background-color: var(--lightblue);
}

.btn-success {
  background-color: var(--green);
}
/* helpers */

/* Header */
.Header {
  background-color: var(--lightblue);
  color: white;
  height: var(--header-height);
  padding: var(--space-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--header-z);
}

.Header-content {
  display: flex;
  align-items: center;
}

.Header-actions {
  background-color: var(--green);
  border-radius: 10em;
  overflow: hidden;
}

.Header-action {
  background-color: var(--green);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-normal);
  padding: var(--space-small) var(--space-normal);
}
/* Header */

/* Logo */
.Logo {
  font-size: var(font-medium);
  padding: 0 var(--space-normal);
}

.Logo-link {
  color: white;
  font-weight: bold;
  font-size: var(--font-medium);
  text-decoration: none;
  text-transform: uppercase;
}
/* Logo */

/* Navigation */
.Navigation-link {
  color: white;
  font-size: var(--font-medium);
  display: inline-block;
  padding: var(--space-small) var(--space-normal);
  text-decoration: none;
}
/* Navigation */

/* Hero */
.Hero {
  background-color: rgba(0, 0, 0, 0.2);
  height: var(--banner-size);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
}

.Hero::before {
  content: '';
  background-image: url('./images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.Hero-description {
  align-self: flex-end;
  width: 50%;
}

.Hero-title {
  color: var(--gray);
  font-size: var(--font-big);
}

/* Hero */
.Hero-text {
  color: white;
  font-size: var(--font-large);
}
/* Hero */

/* Popular */
.Popular,
.Deals {
  max-width: 1024px;
  margin: auto;
}

.Popular-heading {
  margin-top: var(--space-normal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Popular */

/* GameList */
.GameList {
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-small);
}
/* GameList */

/* Game */
.Game {
  width: calc((100% / 5) - var(--space-normal));
  margin: var(--space-small);
  position: relative;
  text-align: center;
}

.Game-content {
  color: var(--darkblue);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Game */

/* Stores */
.Stores {
  position: relative;
}

.Stores-title {
  padding: 0 6em var(--space-small);
}

.Stores-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}
/* Stores */

/* Store */
.Store {
  height: var(--banner-size);
  padding: var(--space-big);
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Store::before {
  content: '';
  background-image: url('./images/store.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -100;
}

.Store-title {
  color: white;
  font-size: var(--font-big);
  margin-bottom: var(--space-big);
}

.Store-game {
  display: flex;
  color: var(--gray);
  align-items: center;
}

.Store-game:not(:last-child) {
  margin-bottom: var(--space-normal);
  /* display: flex; */
}

.Store-gameLogo {
  /* flex: 1; */
  /* display: flex; */
  width: 50px;
  margin-right: var(--space-medium);
}

.Store-gameTitle {
  flex: 2;
}

.Store-info {
  margin-right: 10em;
}

.Store-offerTitle {
  color: white;
}

.Store-offerText {
  color: var(--gray);
  margin: var(--space-small) 0;
  display: inline-block;
}

.Store-offerLogo {
  width: 200px;
}

.Store-buttons {
  margin-top: var(--space-medium);
}

/* Store */

/* StoreItem */
.StoreItem {
  background-color: var(--lightblue);
  border-radius: 2em;
  color: white;
  margin: var(--space-small);
  padding: var(--space-normal) var(--space-small);
  width: calc((100% / 5) - var(--space-normal));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.StoreItem-logoContainer {
  width: 40%;
}
/* StoreItem */

/* Deals */
.Deals-items {
  display: flex;
  flex-wrap: wrap;
}
/* Deals */

/* Deal */
.Deal {
  background-color: var(--lightblue);
  border-radius: 10px;
  margin: var(--space-normal);
  padding: var(--space-normal);
  width: calc((100% / 4) - var(--space-big));
}

.Deal-logo {
  width: 30px;
}

.Deal-title {
  color: white;
}

.Deal-detail {
  color: var(--gray);
  margin: var(--space-small) 0;
}

.Deal-pricing {
  color: white;
  margin: var(--space-small) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Deal-button {
  width: 100%;
}
/* Deal */

/* Footer */
.Footer {
  background-color: var(--lightblue);
  padding: 0 var(--space-big);
  margin-top: var(--space-big);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-button {
  border: none;
  padding: var(--space-small);
}
/* Footer */
